* {
  box-sizing: border-box;
}

#carousel {
  width: 100%;
  margin-top: 1rem;
}

.carousel {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.carousel-left {
  width: 70%;
  height: 100%;
  margin: 0 auto;

  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.carousel-left-slide {
  position: relative;
  overflow: hidden;
}

.carousel-left-slide img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.carousel-left-slide:hover .prev {
  transform: translateX(0);
  transition: 0.5s;
}

.carousel-left-slide:hover .next {
  transform: translateX(0);
  transition: 0.5s;
}

.carousel-left-move {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  transition: 0.4s;
}

.carousel-left-slide .prev,
.carousel-left-slide .next {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  color: white;
  font-size: 25px;
  font-weight: 600;

  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.prev {
  transform: translateX(-40px);
}

.next {
  transform: translateX(40px);
}

.carousel-left-bottom {
  padding: 1rem 0;

  font-family: Sans-serif !important;
  font-size: 13px;
  cursor: pointer;
}

.carousel-left-bottom .des-item-slider {
  text-align: center;
  height: 100%;
}

.carousel-left-bottom .des-item-slider:hover {
  color: black;
  font-weight: bold;
}

.slick-current {
  font-weight: 600;
}

.slick-slider button,
.slick-next {
  opacity: 0;
}

.carousel-right {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-right-item img {
  float: right;
  width: 85%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 800px) {
  #carousel {
    margin-top: 0;
  }

  .carousel {
    width: 100%;
    padding: 0.5rem;
  }

  .carousel-left {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .carousel-right {
    display: none;
  }
}
