.filter-filter {
  margin-top: 20px;
}

.list-max-min {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}
.options-price {
  width: 400px;
}
.btn-search {
  background-color: #d70018;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  margin: auto 0px;
}
