.register-container {
    border: 1px solid #d70018;
    border-radius: 20px;
    width: 40%;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-page {
    position: relative;
    width: 80%;
    top: 30%;
    left: 48%;
    transform: translate(-50%, 0%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 70px;
}

.signup-page input {
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    padding: .8rem 1.5rem;
    margin: 1rem;
    font-size: 15px;
}

.signup-page input[type="submit"] {
    background: #d70018;
    color: white;
    max-width: 100%;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    #signup {
        padding: 1rem;
    }

    .signup-page {
        position: relative;
        width: 100%;
        padding: 1rem;
    }

    .form-order {
        padding: 1rem;
    }

    .signup-page input,
    textarea {
        margin: 8px 0;
    }

    .signup-page textarea {
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .form-signup input {
        font-size: 16px;
    }
}